<script>
    $(document).ready(function () {

        function replaceSpot(td, li) {
            td.html(li.html());
            td.addClass(li.attr('class'));
            td.prop('disabled', true);
            li.remove();
        }

        $('ol.players li').on("dragstart", function (event) {
            var dt = event.originalEvent.dataTransfer;
            dt.setData('pick', $(this).attr("id"));
            dt.setData('db-id', $(this).data("db-id"));
            console.log("DRAG");
        });
        $('table td').on("dragenter dragover drop", function (event) {
            event.preventDefault();
            if (event.type === 'drop' && $(this).prop('disabled') != true) {
                var pick = $("#" + event.originalEvent.dataTransfer.getData('pick'));
                var url = "<%= draft_pick_path %>"
                var td = $(this);
                $.ajax({
                    type: "POST",
                    url: url,
                    data: { "id": event.originalEvent.dataTransfer.getData('db-id'),
                            "pick": td.attr("id"),
                            "authenticity_token":"<%= form_authenticity_token %>"}, // serializes the form's elements.
                    success: function(data) {
                        console.log(data);
                    },
                    error: function(data) {
                        console.log(data)
                        $('#errors').html('<div class="alert alert-danger alert-dismissable">' + data.responseJSON.error + '<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a></div>');
                    }
                });
            };
        });
    });
</script>

<div class="row">
    <div class="col-lg-9">
        <div class="draft-table">
            <table class="table">
                <tr>
                    <% FantasyTeam.all.order(:draft_position).each do |team| %>
                        <th><%= team.name %></th>
                    <% end %>
                </tr>
                <% (1..@settings.total_picks).to_a.in_groups_of(@num_teams).each_with_index do |picks, idx| %>
                    <tr>
                        <% picks.reverse! if idx.odd? %>
                        <% picks.each do |pick| %>
                            <% if @drafted_players.keys.include?(pick) %>
                                <% player = @drafted_players[pick] %>
                                <td id="pick-<%= pick %>" class="<%= player.sport %>"> <%= raw player.pretty_html %></td>
                            <% else %>
                                <td id="pick-<%= pick %>"><%= pick %></td>
                            <% end %>
                        <% end %>
                    </tr>
                <% end %>
            </table>
        </div>
    </div>
    <div class="col-lg-3">
        <ul class="nav nav-pills">
            <li class="active"><a data-toggle="tab" href="#nfl-players">NFL</a></li>
            <li><a data-toggle="tab" href="#nba-players">NBA</a></li>
            <li><a data-toggle="tab" href="#mlb-players">MLB</a></li>
            <li><a data-toggle="tab" href="#nhl-players">NHL</a></li>
            <li><a data-toggle="tab" href="#team-tab">My Team</a></li>
        </ul>
        <div class="draft-list">
            <div class="tab-content">
                <div id="nfl-players" class="tab-pane fade in active">
                    <ol class="players">
                        <% FootballPlayer.where(draft_number: nil).all.each do |player| %>
                            <li draggable="true" id="<%=player.html_id%>" class="<%= player.sport %>" data-db-id="<%= player.id %>"><%= raw player.pretty_html %></li>

                        <% end %>
                    </ol>
                </div>
                <div id="nba-players" class="tab-pane fade">
                    <ol class="players">
                        <% BasketballPlayer.where(draft_number: nil).all.each do |player| %>
                            <li draggable="true" id="<%=player.html_id%>" class="<%= player.sport %>" data-db-id="<%= player.id %>"><%= raw player.pretty_html %></li>

                        <% end %>
                    </ol>
                </div>
                <div id="mlb-players" class="tab-pane fade">
                    <ol class="players">
                        <% BaseballPlayer.where(draft_number: nil).all.each do |player| %>
                            <li draggable="true" id="<%=player.html_id%>" class="<%= player.sport %>" data-db-id="<%= player.id %>"><%= raw player.pretty_html %></li>

                        <% end %>
                    </ol>
                </div>
                <div id="nhl-players" class="tab-pane fade">
                    <ol class="players">
                        <% HockeyPlayer.where(draft_number: nil).all.each do |player| %>
                            <li draggable="true" id="<%=player.html_id%>" class="<%= player.sport %>" data-db-id="<%= player.id %>"><%= raw player.pretty_html %></li>

                        <% end %>
                    </ol>
                </div>
                <div id="team-tab" class="tab-pane fade">
                    <h2>NFL</h2>
                    <%= render 'team', roster: FantasyTeam.first.roster("NFL") %>
                    <hr>
                    <h2>NBA</h2>
                    <%= render 'team', roster: FantasyTeam.first.roster("NBA") %>
                    <hr>
                    <h2>MLB</h2>
                    <%= render 'team', roster: FantasyTeam.first.roster("MLB") %>
                    <hr>
                    <h2>NHL</h2>
                    <%= render 'team', roster: FantasyTeam.first.roster("NHL") %>
                </div>
            </div>
        </div>
    </div>
</div>
